//
// Component: Button
//

.btn {
  align-items: center;
  display: inline-grid;
  justify-content: center;
  text-decoration: none;
  outline: none;
  border-radius: $button-border-radius;

  // Disabled
  &.disabled,
  &:disabled {
    cursor: not-allowed;
    pointer-events: none;
  }

  // Flat Buttons
  &.btn-flat {
    @include border-radius(0);
    border-width: 1px;
    box-shadow: none;
  }

  // File Input Button
  &.btn-file {
    @include file-button-style();
  }

  &-default {
    background-color: $button-default-background-color;
    border-color: $button-default-border-color;
    color: $button-default-color;

    &:hover,
    &:active,
    &.hover {
      background-color: darken($button-default-background-color, 15%);
      color: darken($button-default-color, 15%);
    }

    &.disabled,
    &:disabled {
      color: $button-default-color;
      background-color: $button-default-background-color;
    }    
  }

  &-outline-light {
    color: darken($light, 20%);
    border-color: darken($light, 20%);
    
    &.disabled,
    &.disabled {
      color: darken($light, 20%);
      border-color: darken($light, 20%);
    }
  }

  &-xs {
    @include button-size($button-padding-y-xs, $button-padding-x-xs, $button-font-size-xs, $button-line-height-xs, $button-border-radius-xs);
  }

  // Small Text Button
  .text-sm & {
    font-size: $font-size-sm !important;
  }
}



@include dark-mode () {
  // .btn-default,
  .btn-light {
    background-color: lighten($dark, 7.5%);
    color: $white;
    border-color: $gray-600;

    &:hover,
    &:focus {
      background-color: lighten($dark, 10%);
      color: $gray-300;
      border-color: lighten($gray-600, 5%);
    }
  }

  @each $color, $value in $theme-colors-dark {
    .btn-#{$color} {
      @if $color == dark {
        @include button-variant(darken($value, 5%), lighten($value, 10%));
      } @else {
        @include button-variant($value, $value);
      }
    }
  }

  @each $color, $value in $theme-colors-dark {
    .btn-outline-#{$color} {
      @if $color == dark {
        @include button-outline-variant(darken($value, 20%));
      } @else {
        @include button-outline-variant($value);
      }
    }
  }
}
