//
// Component: Toasts
//

// Toast Positions
@mixin toast-position($position, $x, $y) {
  position: absolute;
  #{$x}: 0;
  #{$y}: 0;
  z-index: $zindex-toasts;

  &.fixed {
    position: fixed;
  }
}

.toasts-top-right {
  @include toast-position(top-right, right, top);
}

.toasts-top-left {
  @include toast-position(top-left, left, top);
}

.toasts-bottom-right {
  @include toast-position(bottom-right, right, bottom);
}

.toasts-bottom-left {
  @include toast-position(bottom-left, left, bottom);
}

// Dark Mode Toast Styles
@include dark-mode() {
  .toast {
    background-color: rgba($dark, 0.85);
    color: $white;

    .toast-header {
      background-color: rgba($dark, 0.7);
      color: $gray-100;
    }

    // @include toast-theme-variants($theme-colors-dark);
    // @include toast-theme-variants($colors-dark);
  }
}

// Toast Theme Variants
@mixin toast-theme-variants($colors-map) {
  @each $name, $color in $colors-map {
    @include toast-variant($name, $color);
  }
}

// Toast Styles
.toast {
  @include toast-theme-variants($theme-colors);
  @include toast-theme-variants($colors);
}