.app-sidebar {
    --#{$satu-prefix}sidebar-hover-bg: #{$satu-sidebar-hover-bg};
    --#{$satu-prefix}sidebar-color: #{$satu-sidebar-color};
    --#{$satu-prefix}sidebar-hover-color: #{$satu-sidebar-hover-color};
    --#{$satu-prefix}sidebar-active-color: #{$satu-sidebar-active-color};
    --#{$satu-prefix}sidebar-menu-active-bg: #{$satu-sidebar-menu-active-bg};
    --#{$satu-prefix}sidebar-menu-active-color: #{$satu-sidebar-menu-active-color};
    --#{$satu-prefix}sidebar-submenu-bg: #{$satu-sidebar-submenu-bg};
    --#{$satu-prefix}sidebar-submenu-color: #{$satu-sidebar-submenu-color};
    --#{$satu-prefix}sidebar-submenu-hover-color: #{$satu-sidebar-submenu-hover-color};
    --#{$satu-prefix}sidebar-submenu-hover-bg: #{$satu-sidebar-submenu-hover-bg};
    --#{$satu-prefix}sidebar-submenu-active-color: #{$satu-sidebar-submenu-active-color};
    --#{$satu-prefix}sidebar-submenu-active-bg: #{$satu-sidebar-submenu-active-bg};
    --#{$satu-prefix}sidebar-header-color: #{$satu-sidebar-header-color};

    z-index: $satu-zindex-sidebar;
    grid-area: #{$satu-prefix}app-sidebar;
    min-width: var(--#{$satu-prefix}sidebar-width);
    max-width: var(--#{$satu-prefix}sidebar-width);
    @include transition($satu-sidebar-transition);
}

.sidebar-brand {
    display: flex;
    align-items: center;
    justify-content: center;
    height: $satu-app-header-height;
    padding: $satu-brand-link-padding-y $satu-brand-link-padding-x;
    overflow: hidden;
    font-size: $navbar-brand-font-size;
    white-space: nowrap;
    border-bottom: $satu-brand-link-border-buttom solid var(--#{$prefix}border-color);
    @include transition(width $satu-transition-speed $satu-transaction-fn);

    .brand-link {
        display: flex;
        align-items: center;
        text-decoration: none;

        .brand-image {
            float: left;
            width: auto;
            max-height: 33px;
            line-height: .8;
        }
    }
}