// Prefix for :root CSS variables and others.
$satu-prefix:                      satu- !default;

// Transition global options
$satu-transition-speed:            .3s !default;
$satu-transition-fn:               ease-in-out !default;

// SIDEBAR
// --------------------------------------------------------
$satu-sidebar-width:               250px !default;
$satu-sidebar-breakpoint:          1g !default;
$satu-sidebar-padding-x:             .5rem !default;
$satu-sidebar-padding-x-compact:     .5rem !default;
$satu-sidebar-padding-y:             .5rem !default;
$satu-sidebar-padding-y-compact:     .25rem !default;
$satu-sidebar-transition:           min-width $satu-transition-speed $satu-transition-fn,
                                    max-width $satu-transition-speed $satu-transition-fn,
                                    margin-left $satu-transition-speed $satu-transition-fn,
                                    margin-right $satu-transition-speed $satu-transition-fn !default;

// Sidebar skins
$satu-sidebar-hover-bg:             rgba($black, .1) !default;
$satu-sidebar-color:                $gray-800 !default;
$satu-sidebar-hover-color:          $gray-900 !default;
$satu-sidebar-active-color:         $black !default;
$satu-sidebar-menu-active-bg:       rgba($black, .1) !default;
$satu-sidebar-menu-active-color:    $black !default;
$satu-sidebar-submenu-bg:           transparent !default;
$satu-sidebar-submenu-color:        #777 !default;
$satu-sidebar-submenu-hover-color:   $black !default;
$satu-sidebar-submenu-hover-bg:      rgba($black, .1) !default;
$satu-sidebar-submenu-active-color:  $gray-900 !default;
$satu-sidebar-submenu-active-bg:     rgba($black, .1) !default;
$satu-sidebar-header-color:          shade-color($gray-800, 5%) !default;

// main header
$nav-link-height-compact:               1.75rem !default;
$satu-app-header-bottom-border-width:   $border-width !default;
$satu-app-header-bottom-border-color:   var(--#{$prefix}border-color) !default;
$satu-app-header-bottom-border:         $satu-app-header-bottom-border-width solid $satu-app-header-bottom-border-color !default;
$satu-app-header-link-padding-y:        $navbar-padding-y !default;
$satu-app-header-height:                ($nav-link-height + ($satu-app-header-link-padding-y * 2)) !default;
$satu-app-header-height-compact:        ($nav-link-height-compact + ($satu-app-header-link-padding-y * 2)) !default;

// content padding
$satu-content-padding-y:           0 !default;
$satu-content-padding-x:           .5rem !default;

// main footer
$satu-app-footer-padding:           1rem !default;
$satu-app-footer-padding-compact:   .5rem !default;
$satu-app-footer-border-top-width:  1px !default;
$satu-app-footer-border-top-color:  var(--#{$prefix}border-color) !default;
$satu-app-footer-border-top:        $satu-app-footer-border-top-width solid $satu-app-footer-border-top-color !default;
$satu-app-footer-bg:                var(--#{$prefix}body-bg) !default;
$satu-app-footer-color:             var(--#{$prefix}secondary-color) !default;

// brand link
$navbar-brand-padding-y-compact:    $navbar-brand-padding-y * .75 !default;
$navbar-padding-y-compact:          $navbar-padding-y * .5 !default;
$satu-brand-link-padding-y:         $navbar-brand-padding-y + $navbar-padding-y !default;
$satu-brand-link-padding-y-compact: $navbar-brand-padding-y-compact + $navbar-padding-y-compact !default;
$satu-brand-link-padding-x:         $satu-sidebar-padding-x !default;
$satu-brand-link-padding-x-compact: $satu-sidebar-padding-x-compact !default;
$satu-brand-link-border-buttom:     1px !default;

// z-index
$satu-zindex-app-header:            $zindex-fixed + 4 !default;
$satu-zindex-sidebar:               $zindex-fixed + 8 !default;
$satu-zindex-sidebar-overlay:       $satu-zindex-sidebar - 1 !default;